@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Handjet:wght@200;300;400;600;800&family=Rajdhani:wght@300;500;600&display=swap");


.App {
  text-align: center;
}

.container {
  text-align: center;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-image: linear-gradient(to bottom right, black , black);
}
/* body{
  background-image: url("https://images.unsplash.com/photo-1585937943005-0ffcea62c86f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80");
  background-size: cover;
  background-position: top;
  height: 100%;
} */

.maintitle {
  color: rgb(222, 58, 21) !important;
  text-shadow: 2px 5px 7px rgb(8, 48, 206);
}

.hometitle{
  color: rgb(222, 58, 21) !important;
  text-shadow: 2px 5px 7px rgb(8, 48, 206);
}

.actionpagetitle{
  color: rgb(6, 1, 0) !important;
  text-shadow: 2px 5px 7px rgb(255, 255, 255);
}


.intro{
  color: rgb(222, 58, 21) !important;
  text-shadow: 2px 5px 7px rgb(8, 48, 206);
}

.choosegenre{
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(8, 48, 206);
}

.fantasy {
  background-image: url("https://images.unsplash.com/photo-1461397932544-11132a69bf46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  
}

.noir {
  background-image: url("https://images.unsplash.com/photo-1605806616949-1e87b487fc2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
}

.space {
  background-image: url("https://images.unsplash.com/photo-1608178398319-48f814d0750c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1158&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .genreimages{
    border-style: solid;
    border-color: red;
}

.genretitles{
  color: rgb(222, 58, 21) !important;
  text-shadow: 2px 5px 7px rgb(8, 48, 206);
} */

p{
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(0, 17, 148);
  text-align: center;
}

.content{
  background-color: black;
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(0, 17, 148);
}

.scenario{
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(0, 17, 148);
  border: dotted;
  border-color: blue;
  margin: 5% 20% 3% 20%;
  padding: 2%;
  border-radius: 30px;
  font-weight: 300;
  letter-spacing: 0.1em;
  background-color: black;
}


.action1-btn{
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(0, 17, 148);
}

.action2-btn{
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(0, 17, 148);
}

.action3-btn{
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(0, 17, 148);
}

.start-again-btn{
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(0, 17, 148);
  padding: 2%;
  margin: 2% 15% 5% 15%;
}

.game-end{
  text-align: center;
  font-size: 30px !important;
}

.volume{
  text-align: center;
  color: rgb(222, 192, 21) !important;
  text-shadow: 2px 5px 7px rgb(0, 17, 148);
  flex-direction: row;
}